<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h1>Kharon</h1>
        <h3>Login OTP</h3>
        <p>Hi,</p> <br>
       <p>Please enter the OTP code below to verify your account</p>
        <p>{{otp}}</p>

        <p><b>NOTE: </b> Link expires after 5 mins.</p>

        <p>Thank you,<br>Kharon Team</p>
    </body>
</html>